$primary-color: #8bc34a;
$secondary-color: #689f38;
$text-color: #777;
$text-dark: #333;
$background-light: #f9f9f9;
$border-color: #d3d3d3;

$border-radius: 8px;
$padding-base: 0.75rem;
$transition-fast: 0.3s ease-in-out;

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
